@font-face {
    font-family: "SCDream";
    src: url("../assets/fonts/SCDream9.otf");
}

:root {
    --font-main: "SCDream", sans-serif;
    --primary-color: #e75656;
    --secondary-color: #c33f3f;
    --light-color: #f99fa1;
    --accent-color: #541a1a;
    --border-color: #a73f3f;
    --card-color: #ff9293;
    --gradient-color: #de5050;
    --text-color: #333333;
    --font-size: 300%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    font-family: var(--font-main);
}

.container {
    position: relative;
    width: 1080px;
    height: 1920px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
